.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  font-size: 20px;

}

.button-pagination { 
  background-color: #F8D030;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid rgb(225, 177, 6);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.button-pagination:hover { 
  cursor: pointer;
  transform: scale(1.01);
} 